<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="transferSection" type="SQLDataTransfer.AppConsole.Configuration.TransferSection, SQLDataTransfer.AppConsole"/>        
  </configSections>
  <transferSection>
    <transfers>
      <add name="LOCAL" disabled="false"
           connectionSource="Data Source=NB-IDE-ACER;Initial Catalog=DB_IDE;Integrated Security=SSPI;Persist Security Info=False;"
           connectionTarget="Data Source=NB-IDE-ACER;Initial Catalog=DB_IDE_CLONE;Integrated Security=SSPI;Persist Security Info=False;"
           bulkCopyTimeout="18000"
           bulkBatchSize="20000"
           tableLock="true"
           checkConstraints="false"
           fireTriggers="false">
        <tables>
          <add name="dbo.TB_USUARIOS" truncate="true"/>
        </tables>
      </add>
      <add name="HL_HOMOLOG" disabled="true"
           connectionSource="Data Source=NB-IDE-ACER;Initial Catalog=DB_IDE;Persist Security Info=True;User ID=sa; Password=sa;"
           connectionTarget="Data Source=NB-IDE-ACER;Initial Catalog=DB_IDE;Persist Security Info=True;User ID=sa; Password=sa;"
           bulkCopyTimeout="18000"
           bulkBatchSize="20000"
           tableLock="true"
           checkConstraints="false"
           fireTriggers="false">
        <tables>
          <add name="dbo.TB_OPERACAO"/>
          <add name="TB_CLIENTE" selectSource="Scripts\TB_CLIENTE.SQL" updateStatistics="true"/>
          <add name="TB_COTACAO_DIA" selectSource="Scripts\TB_COTACAO_DIA.SQL" truncate="true"/>
          <add name="TB_GRUPO_ECONOMICO" updateStatistics="true" truncate="true"/>
          <add name="dbo.TBHLA32_HIST_RETO_LNAR_17" toCsvFile="Extracao\dbo.TBHLA32_HIST_RETO_LNAR_17_{DateTime}.csv"/>
          <add name="SpaceUsed" selectSource="Scripts\SpaceUsed.sql" toCsvFile="Extracao\{Date}_SpaceUsed_{Time}.csv"/>
        </tables>
      </add>
    </transfers>
  </transferSection>

</configuration>
